[Desktop Entry]
Version=1.0
Type=Application
Name=ClipPilot
GenericName=Automated Video & File Pilot
Comment=Automatically detect completed video downloads, rename them sequentially, and move them into project folders.
Exec=python3 /home/kanon/Documents/FlowMate/main.py
Icon=/home/kanon/Documents/FlowMate/assets/logo.png
Path=/home/kanon/Documents/FlowMate
Terminal=false
Categories=Utility;FileManager;
StartupWMClass=ClipPilot
